{{#each recenttracks.track}}
	{{#if [@attr].nowplaying}}
		<p>Currently Listening To:</p>
		{{#if image.0.[#text]}}
			<a href="{{url}}"><img src="{{image.0.[#text]}}" width="34" height="34" style="float: left;" /></a>
		{{/if}}
		<div style="margin: 0 0 0 40px;">
			{{name}}<br/>
			<span>{{artist.[#text]}} - {{album.[#text]}}</span></li>
		</div>
		<br/>
	{{/if}}
{{/each}}