<p>Recent Listens:</p>
<ul>
{{#each recenttracks.track}}
	<li>
		{{#unless [@attr].nowplaying}}
			{{#if image.0.[#text]}}
				<a href="{{url}}"><img src="{{image.0.[#text]}}" width="34" height="34" style="float: left;" /></a>
			{{/if}}
			<div style="margin: 0 0 0 40px;">
				{{name}}<br/>
				<span>{{artist.[#text]}} {{#if album.[#text]}} - {{album.[#text]}}{{/if}}</span></li>
			</div>
		{{/unless}}
	</li>
{{/each}}
</ul>